<form action="#" method="post">
  <table>
    <tr>
      <th>Employee ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Salary</th>
      <th>DOB</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
    <tr>
      <td><input type="number" name="employeeID" placeholder="3"></td>
      <td><input type="text" name="firstName" placeholder="Joseph"></td>
      <td><input type="text" name="lastName" placeholder="Brown"></td>
      <td><input type="number" name="lastName" placeholder="20000"></td>
      <td><input type="text" name="dob" placeholder="Thu Nov 02 1983 00:00:00 GMT+0530 (India Standard Time)"></td>
      <td><input type="email" name="employeeEmail" placeholder="joseph@abc.com"></td>
      <td><button type="submit">Update</button></td>
    </tr>
  </table>
</form>
