<table>
  <tr>
    <th>Employee ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Salary</th>
    <th>DOB</th>
    <th>Email</th>
  </tr>
  <tr defColOnEvent *ngFor = "let employee of emplist">
    <td>
      <p>{{ employee.employee_id }}</p>
    </td>
    <td>
      <p>{{ employee.first_name }}</p>
    </td>
    <td>
      <p>{{ employee.last_name }}</p>
    </td>
    <td>
      <p>{{ employee.salary | currency }}</p>
    </td>
    <td>
      <p>{{ employee.dob | date: 'dd/MM/YYYY' }}</p>
    </td>
    <td>
      <p>{{ employee.email }}</p>
    </td>
  </tr>
</table>